.container {
    width: 80%;
    height: 80dvh;
    margin: 10dvh auto;
    padding: 2rem;
    background-color: #93f8dd;
    color: #030f17;
    border-radius: 1rem;
    box-shadow: 2px 2px 4px rgba(42, 42, 191, 0.1);
  }
  
  h1 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 4rem;
  }
  
  .password-wrapper {
    margin-bottom: 20px;
  }
  
  .password-input {
    padding: 10px;
    font-size: 2rem;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .copy-button img{
    /* background-color: #3498db; */
    height: 44px;
    color: #fff;
    border: none;
    margin-left: 10px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .copy-button{
    transform: translateY(10px);
  }
  .checkboxes {
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
    font-size: 1.5rem;
  }
  
  .checkboxes label {
    margin-right: 20px;
  }
 
  .range-input {
    width: 30%;
    color: #93f8dd;
    margin-bottom: 40px;
  }
  
  .generate-button {
    background-color: #0f0c31;
    color: #75ecd8;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 2rem;
  }
  
  @media (max-width: 768px) {
    .container {
      width: 90%;
    }
  }
  